<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hadifar.dope">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Dope">

        <!-- Activities -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.FlashCardViewerActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/Dope.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.ExceptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Dope.Transparent" />

        <activity
            android:name=".ui.activity.FavFlashCardViewerActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/Dope.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

    </application>

</manifest>